body {
  font-family: 'Quicksand', sans-serif;
  margin-left: 60px;
  margin-right: 0px;
  margin-top: 30px;
  margin-bottom: 50px;
}

p {
  font-weight: 300;
}

h1 {
  font-size: 40px;
  color: #2A9D8F;
  margin-bottom: 0;
  font-weight: 500;
}

hr {
  margin: 0;
  border: 1px solid #F4A261;
}

.info-select-bar {
  margin: 40px 0;
  padding-left: 50px;
  padding-right: 120px;
  display: flex;
  justify-content: space-between;
}

.selection {
  width: 50%;
  color: #E76F51;
  font-size: 20px;
}

#number-of-films h4 {
  color: #F2C452;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

#studio-ghibli {
  padding-top: 10px;
  padding-left: 50px;
  display: flex;
  flex-wrap: wrap;
}

.film {
  margin: 0 30px 30px 0;
  border: 1.5px solid;
  padding: 25px;
  border-radius: 5px;
  border-color: #2A9D8F;
  color: #666666;
  width: 40%;
}

.film hr {
  margin: 0;
  border: 0.8px solid #F2C452;
}

.film-header-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.film-name {
  width: 70%;
  font-size: 25px;
  font-weight: 400;
  color: #E76F51;
  margin: 0;
}

.release-date {
  font-size: 25px;
  font-weight: 100;
  margin: 0;
  color: #BFBFBF;
}

.director {
  font-weight: 400;
  color: #FF9328;
  margin: 10px 0;
}

select {
  font-weight: 300;
  font-size: 15px;
  padding: 16px 20px;
  border: none;
  background-color: #f1f1f1;
  color: #666666;
  margin-left: 10px;
}
