body {
  font-family: Futura, sans-serif;
  margin-left: 80px;
  margin-right: 0px;
  margin-top: 50px;
}

h1 {
  color: #3B3923;
  margin-bottom: 0;
}

hr {
  margin: 0;
  border: 1px solid #D17A22;
}

#studio-ghibli {
  padding-top: 50px;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

.film {
  margin: 15px;
  border: 1px solid;
  padding: 20px;
  border-color: #4C061D;
  color: #B4C292;
  width: 40%;
}

.film-name {
  color: #D17A22;
  margin: 0;
}
