body {
  font-family: Futura, sans-serif;
  margin-left: 80px;
  margin-right: 0px;
  margin-top: 50px;
}

h1 {
  color: #3B3923;
  margin-bottom: 0;
}

hr {
  margin: 0;
  border: 1px solid #B4C292;
}

#studio-ghibli {
  
}
